.navbar {
    height: auto;
    background-color: chocolate;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.Tres-Botones {
    display: flex;
    margin-left: 20%;
    align-items: center;
}
.Logo {
    width: 35%;
    border-radius: 50%;
}

