.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
  color:brown;
}
.imgCatalogo {
  width: 25%;
  border-style: double;
}
.cardCatalogo {
  display: flex;
  flex-wrap: wrap;
}